.container {
  width: 50vw;
  height: 50vw;
  max-width: 999px;
  /*border: 2px solid black;*/
}

#solar-system {
  position: relative;
  background-color: #56554f;
  /*background-image: url('./space.png') no-repeat center center fixed;*/
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit-radius {
  border-radius: 100%;
}

.animate {
  animation: spin-right linear infinite;
}

.orbit-mercury {
  position: absolute;
  height: 20%;
  width: 20%;
  border: 1px dashed #db690d;
  display: flex;
  justify-content: center;
  animation-duration: 1.589041096s;
}

.orbit-venus {
  position: absolute;
  height: 38%;
  width: 38%;
  border: 1px dashed #f9f69d;
  animation-duration: 6.136986301s;
  display: flex;
  justify-content: center;
}

.orbit-earth {
  position: relative;
  height: 65%;
  width: 65%;
  border: 1px dashed #40b3e8;
  display: flex;
  justify-content: center;
  animation-duration: 10s;
}

.orbit-moon {
  position: absolute;
  border: 1px dashed #f2f0e3;
  width: 25%;
  height: 25%;
  top: -12.5%;
  display: flex;
  justify-content: center;
  animation-duration: 0.7397260274s;
}

.orbit-mars {
  position: absolute;
  width: 90%;
  height: 90%;
  border: 1px dashed #e24d16;
  display: flex;
  justify-content: center;
  animation-duration: 18.82191781s;
}

.body-mercury {
  width: 1.898734177vw;
  height: 1.898734177vw;
  transform: translateY(-50%);
  background-color: #db690d;
  border-radius: 50%;
}

.body-venus {
  width: 4.746835443vw;
  height: 4.746835443vw;
  transform: translateY(-50%);
  background-color: #f9f69d;
  border-radius: 50%;
}

.body-earth {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  transform: translateY(-50%);
  background-color: #40b3e8;
}

.body-moon {
  width: 1.366455696vw;
  height: 1.366455696vw;
  transform: translateY(-50%);
  background-color: #f2f0e3;
  border-radius: 50%;
}

.body-mars {
  width: 2.658227848vw;
  height: 2.658227848vw;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #e24d16;
}

.body-sun {
  position: absolute;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background-color: #ffbf00;
}


@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}